@charset "utf-8";

/* 共有
------------------------------------------------- */
/* * {
    outline: solid red 1px;
} */

@font-face {
    font-family: 'MyFont';
    src: url(https://www.jobridge.info/font/rounded-mplus-1c-medium.woff2);
}

html {
    font-family: MyFont;
    font-weight: 10px;
    font-size: calc(0.43vw + 3px);
    text-align: justify;
    color: #3e3e3e;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

main {
    position: relative;
    margin: 0 auto;
    line-height: 1.7;
    transition: 1s ease;
}

#flow,
#access {
    scroll-margin-top: 15rem;
}

/* background
--------------------------- */

.footer-index,
.footer-company {
    background: white;
}

/* 
--------------------------- */

a {
    text-decoration: none;
    color: #3e3e3e;
}

.sb-link {
    color: #608dee;
    border-bottom: solid .19rem #608dee;
}

li {
    list-style: none;
}

h1 {
    font-size: 4.8rem;
    line-height: 0;
}

h2 {
    font-size: 5rem;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.5rem;
    font-weight: normal;
}

p,
dt,
dd,
input,
select,
textarea {
    font-size: 2rem;
}

img {
    box-sizing: border-box;
}

.respond-content {
    display: block;
}

.mobile-content {
    display: none;
}

.page-header {
    background: transparent;
    width: fit-content;
    padding: 3rem;
    border-radius: 3rem;
    height: fit-content;
}

.page-title {
    margin-top: 40vh;
    color: #FF8B20;
    background: white;
    border-radius: 3rem 3rem 0 0;
    padding: 3rem 3rem 0rem 3rem;
}

.page-title.transition,
.page-list.transition {
    color: #41dd87;
}

.page-list {
    color: #FF8B20;
    display: flex;
    background: white;
    border-radius: 0 0 3rem 3rem;
    padding: 0 3rem 3rem 3rem;
}

.page-list span {
    color: #ccc;
    transition: .3s;
}

.page-list a:hover span {
    color: #FF8B20;
    transition: .3s;
}

/* footer
------------------------------------------------- */

#footer {
    padding: 0 5rem 7rem 5rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5.5rem;
    padding-top: 15rem;
    background: transparent;
}

.footer-content .service-link {
    width: 46%;
}

.footer-content .contact {
    width: 54%;
}

.footer.logo img {
    width: 18vw;
}

.footer.logo.sb {
    margin-top: 1.5rem;
}

.footer.logo.sb a {
    display: flex;
    align-items: center;
}

.footer.logo.sb .co-title {
    display: flex;
    align-items: center;
}

.footer.logo.sb .co-title::before {
    content: "";
    display: block;
    width: 0.3rem;
    height: 7rem;
    background: #FF8B20;
    border-radius: 25px;
    margin: 0 2rem;
}

.footer.logo.sb .co-title p {
    flex-direction: column;
}

.footer.logo.sb img {
    width: 13vw;
}

.footer.service-box {
    justify-content: flex-start;
    margin-top: 3rem;
}

.footer.service-box img {
    width: 15vw;
    height: 15vw;
}

.footer-content .service-box div:first-of-type {
    margin-right: 6rem;
}

.footer.service-box h3 {
    margin-top: 3rem;
}

.footer.service-box a {
    text-align: center;
}

.footer-links-content {
    display: flex;
    margin-top: 2rem;
}

.footer-links-content div:first-of-type {
    margin-right: 2rem;
}

.footer-links {
    display: flex;
    margin-top: 1%;
}

.footer-links li {
    margin-bottom: 1.3rem;
    margin-right: 3rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-self: top;
}

.contact h2 {
    color: #FF8B20;
    font-size: 4.5rem;
}

.contact span {
    color: gray;
    font-weight: lighter;
}

.contact .svg,
.tel-contact .svg,
.line-contact .svg {
    width: 3vw;
    margin: .5vw;
}

.contact .conversion {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}

/* .contact .conversion h4{
    padding: 2rem;
} */

.contact .tel,
.contact .mail,
.contact .mail a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .conversion .tel {
    width: 50%;
    height: 13rem;
    background: white;
    margin-right: 3rem;
    border-radius: 25px;
    border: #FF8B20 solid 0.3rem;
    color: #FF8B20;
}

.contact .conversion .mail {
    width: 50%;
    height: 13rem;
    background: #FF8B20;
    border: white solid 0.3rem;
    border-radius: 25px;
    transition: .3s;
}

.contact .conversion .mail a {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 1rem;
    line-height: 1.2;
}

.contact .conversion .mail:hover {
    background: white;
    border: #FF8B20 solid 0.3rem;
    transition: .3s;
}

.contact .conversion .mail:hover h4 {
    color: #FF8B20;
}

.contact .conversion .mail h4 {
    color: white;
}

.contact .tel-number {
    padding: 3.3rem 0;
}

.business-hour {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: absolute;
}


/* path
------------------------------------------------- */

.index-path-1 {
    width: 40%;
    position: absolute;
    right: 0;
    transform: translate(50%, 40%) rotate(20deg);
    z-index: -1;
}

.index-path-2 {
    width: 35%;
    position: absolute;
    z-index: -2;
    transform: translate(-20%, -10%)rotate(-10deg);
}

.index-path-3 {
    width: 60%;
    position: absolute;
    right: 0;
    z-index: -2;
    transform: translate(12%, 15%);
}

.to-company-path {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    transform: translate(-3%, -125%)rotate(180deg)scale(1.2);
}

.to-company-path.first-view {
    margin-top: 38rem;
}

.to-company-path.under {
    transform: translate(0, -50%);
}

.to-company-path.service {
    transform: translate(0, -45%);
    z-index: -1;
}

.to-company-path.under.service {
    transform: translate(0, -35%);
}

.to-company-path-1 {
    width: 50%;
    position: absolute;
    left: -15%;
    z-index: 0;
    transform: translate(0%, -130%);
}

.to-company-path-2 {
    width: 70%;
    right: 0;
    z-index: -1;
    position: absolute;
    transform: translate(0%, -25%);
}

.to-day-path {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translate(-10%, -80%);
}

.to-day-path.under {
    transform: translate(-10%, -50%)rotate(180deg);
}

.service-path.top {
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: translate(0, -45%);
    border: none;
}

.service-path.center {
    position: relative;
    transform: translate(0, 0%);
    background: #FFFBDC;
    stroke: #D7FFD7;
    stroke-width: 6;
    z-index: 5;
}

.service-path.center-under {
    background: transparent;
    transform: scale(1.3)translate(0, 10%);
    z-index: 5;
}

.service-works-path-1 {
    width: 45%;
    position: absolute;
    transform: translate(-25%, 30%) rotate(45deg);
    z-index: -2;
}

.service-works-path-2 {
    width: 55%;
    position: absolute;
    right: 0;
    z-index: -2;
    transform: translate(-5%, 15%);
}

.service-works-path-3 {
    width: 70%;
    position: absolute;
    z-index: -2;
    transform: translate(-30%, 100%) rotate(180deg);
}

.company .service-path.top {
    background-color: #FF8B20;
}

.company .service-path.center-under {
    background: white;
}


.feature-path {
    z-index: -1;
    width: 100%;
    position: absolute;
    transform: translate(0, -40%);
}


/* header
------------------------------------------------- */

.logo {
    position: relative;
    min-width: 250px;
}

.desk-nav {
    position: fixed;
    background: white;
    /* border: #3e3e3e solid .3rem; */
    border-radius: 0 0 3rem 3rem;
    padding: 0 2rem 0 4rem;
    width: 95%;
    z-index: 999;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
}

.desk-nav.hidden {
    transform: translate(-50%, -120%);
    transition: .5s ease;
}

.desk-nav .menu {
    display: flex;
    align-items: center;
}

.desk-nav li {
    margin-right: 30px;
}

.desk-nav a:hover {
    color: #FF8B20;
    transition: .3s;
}

.desk-nav a,
.desk-nav p {
    font-size: 2.4rem;
    font-weight: normal;
}

.menu-btn,
.menu-mobile {
    display: none;
}

.hover-link {
    padding-bottom: 99px;
    cursor: pointer;
    transform: translate(0, 50px);
}

.hover-link-content {
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    background: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: #FF8B20 solid 0.3rem;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
}

.hover-link-content.active {
    opacity: 1;
    pointer-events: auto;
    transition: .3s;
}

.hover-link-content a {
    display: block;
    margin: 1rem 0;
}


/* first-view
------------------------------------------------- */

.first-view {
    margin-top: calc(8rem + 59px);
    margin-bottom: 10rem;
    display: flex;
    /* background: transparent; */
}

.first-view .grid {
    position: relative;
    z-index: 3;
    width: 55%;
    margin: 2rem 3rem 3rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5vw;
    grid-template-areas:
        ". . . ."
        ". . . ."
}

.first-view .grid div {
    margin-top: 3rem;
}

.first-view .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 3rem;
    /* border: #3e3e3e solid 0.3rem; */
}

.radius-1 {
    border-radius: 12.5rem 3.125rem 3.125rem 3.125rem !important;
}

.radius-4 {
    border-radius: 45% !important;
}

.radius-6 {
    border-radius: 3.125rem 3.125rem 6.25rem 3.125rem !important;
}

.radius-8 {
    border-radius: 9.375rem 1.875rem 9.375rem 1.875rem !important;
}

.first-view-text {
    align-self: center;
    margin: 0rem 4rem 0rem 4rem;
}

.first-view-text h2 {
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5rem;
}

.first-view-text h2:last-of-type {
    margin-bottom: 30px;
}

.first-view-text h4 {
    line-height: 2.5;
    color: white;
}

/* object
------------------------------------------------- */

/* 会社案内へ
------------------------------------------------- */

.to-company {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20rem auto 17rem auto;
    width: 71%;
    z-index: 1;
    background: transparent;
}

.to-company-text {
    width: 60%;
    border-radius: 0 5rem 0 0;
    margin: 0 auto;
    padding-right: 0rem;
}

.to-company-text img {
    width: 80%;
}

.to-company-text h2 {
    line-height: 2;
}

.to-company-text h2:last-of-type {
    margin-bottom: 5rem;
}

.to-company-text p:not(.link-button p) {
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.to-company-text .link-button p {
    font-size: 2.8rem;
}

.to-company-slider {
    width: 40%;
    margin-left: 5rem;
}

.to-company-slider div {
    margin: 2rem 0;
}

.to-company-slider div:first-of-type {
    text-align: center;
}

.to-company-slider div:last-of-type {
    text-align: right;
}


.to-company-slider img {
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50px;
    /* border: #3e3e3e solid 0.3rem; */
}

.to-company .link-button {
    margin-top: 8rem;
    border: transparent solid .3rem;
}

.to-company .link-button:hover {
    border: #FF8B20 solid .3rem;
}

.to-company .link-button p {
    padding: 1.8rem 5.5rem;
}

.link-button span {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1.8rem;
    margin-left: 1rem;
    padding-top: .5rem;
}

.link-button {
    background: #FF8B20;
    /* border: #3e3e3e solid 0.3rem; */
    width: fit-content;
    height: fit-content;
    border-radius: 25rem;
    transition: .3s;
}

.link-button:hover {
    background: white;
    transition: .3s;
}



.link-button:hover p {
    color: #FF8B20;
    transition: .3s;
}

.link-button p {
    text-align: center;
    padding: 1.3rem 2.5rem;
    line-height: 2;
    font-size: 2.4rem;
    color: white;
    transition: .3s;
}

.link-button a {
    display: block;
    width: 100%;
    height: 100%;
}

/* わたしたちのサービス 
------------------------------------------------- */

.wrapper {
    position: relative;
    background: white;
    border-radius: 1500px 1500px 0 0;
    /* border: #3e3e3e solid 0.7rem; */
    border-bottom: none;
    width: 130%;
    padding: 0 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.service-text {
    margin: 18% 0 11% 0;
    text-align: center;
}

.service-text p {
    line-height: 3;
    font-size: 2rem;
}

.service-box {
    display: flex;
    margin-top: 5%;
    /* padding: 0 8%; */
}

#service .service-box {
    flex-direction: column;
    padding: 0;
}

/* #service .service-box a {
    display: flex;
    align-items: center;
    padding: 5rem 22rem 5rem 22rem;
} */

.service-box h2 {
    margin: 3% 0;
}

.service-box img {
    border-radius: 5rem;
    object-fit: cover;
}

.service-box .p1 img {
    box-shadow: 1.2rem 1.4rem 0px 0px #FF8B20;
    transition: .5s;
}

.service-box p {
    line-height: 2;
}

#service .text {
    padding: 5rem 10rem;
}

#service .text .caption {
    margin: 5rem 0 3rem 0;
}

#service-a:hover img,
#service-transition:hover img {
    box-shadow: 0px 0px 0px 0px transparent;
    transform: scale(1.03);
    transition: .5s;
}

.service-box .p2 img {
    box-shadow: 1.2rem 1.4rem 0px 0px #57C700;
    transition: .5s;
}

.service-kind {
    position: relative;
    z-index: 3;
    width: 76%;
    margin: 0 auto;
}

.service-kind-h2 {
    margin-top: 32rem;
    padding-left: 12%;
}

.service-kind .caption {
    /* font-size: 2.8rem; */
    margin-top: 2rem;
    line-height: 2.4;
}

.service-kind-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.service-kind-content figure {
    width: 46%;
}

.service-kind-content figure:first-of-type {
    margin-right: 2rem;
}

.service-kind-content figure:last-of-type {
    margin-left: 2rem;
}

.service-kind-content img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
    border-radius: 3rem;
    box-shadow: #FF8B20;
}

.service-kind-content .a img {
    border: #FF8B20 solid .8rem;
    transition: .3s ease;
}

.service-kind-content .transition img {
    border: #41dd87 solid .8rem;
    transition: .3s ease;
}

.service-kind-content p {
    text-align: left;
    margin-top: 3rem;
    font-size: 1.7rem;
}

.service-kind-content a {
    height: 100%;
    width: 100%;
}

.service-kind-content h2 {
    font-size: 4rem;
}

.service-kind-content h2 :first-of-type {
    margin-top: 2rem;
}

.service-kind-content h3 {
    position: absolute;
    white-space: nowrap;
    margin-left: 33%;
    top: 17rem;
    background: #FF8B20;
    color: white;
    padding: 2rem;
    border-radius: 3rem !important;
}

.service-kind-content h4 {
    position: absolute;
    margin-top: -5rem;
    margin-left: -1.5rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: white;
}

.service-kind-content .a h4 {
    background: #FF8B20;
}

.service-kind-content .transition h4 {
    background: #41dd87;
}

.service-kind-content figure:last-of-type h3 {
    background: #41dd87;
}


.to-day {
    margin: 20rem 0 28rem 0;
    display: flex;
    align-items: center;
}

.to-day .fade-slider {
    width: 43%;
    border-radius: 0rem 15rem 15rem 0rem;
    /* border: solid #3e3e3e .4rem; */
    border-left: none;
    overflow: hidden;
}

.to-day .fade-slider img {
    width: 100%;
    object-fit: cover;
    height: 75rem;
}


.to-day .text {
    width: 57%;
    position: relative;
    z-index: 3;
    margin: 0rem 8rem 0 8rem;
}

.to-day .text .header p {
    margin: 1rem 0;
}

.to-day .text span {
    color: #FF8B20;
}

.to-day .text figure {
    margin-top: 4rem;
    border-radius: 3rem;
    overflow: hidden;
    width: 100%;
}

.to-day .text figcaption {
    background: white;
}

.to-day .text .a {
    box-shadow: 1.2rem 1.4rem 0px 0px #FF8B20;
    border: #FF8B20 solid .3rem;
    transition: .5s ease;
}

.to-day .text .a:hover {
    box-shadow: none;
    border: transparent solid .3rem;
    transition: .5s ease;
}

.to-day .text .a:hover figcaption {
    background: #FF8B20;
    color: white;
    transition: .5s ease;
}

.to-day .text .transition {
    box-shadow: 1.2rem 1.4rem 0px 0px #41dd87;
    border: #41dd87 solid .3rem;
    transition: .5s ease;
}

.to-day .text .transition:hover {
    box-shadow: none;
    border: transparent solid .3rem;
    transition: .5s ease;
}

.to-day .text .transition:hover figcaption {
    background: #41dd87;
    color: white;
    transition: .5s ease;
}

.to-day .text figure a {
    display: flex;
}

.to-day .text figure img {
    width: 35%;
}

.to-day .text figure figcaption {
    width: 65%;
    padding: 2rem;
}


/* features
------------------------------------------------- */

#features {
    background: #FF8B20;
    margin: 0 auto;
    padding-bottom: 20rem;
    border-radius: 0 0 6rem 6rem;
}

.feature-content {
    position: relative;
    z-index: 1;
    background: white;
    margin: 0 auto;
    padding: 3rem 10rem 10rem 10rem;
    margin-top: -8rem;
    border-radius: 5rem;
    width: 80%;
}

.feature-content h2 {
    text-align: left;
    line-height: 1;
}

.feature-content span {
    color: #FF8B20;
}

.feature-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 4rem;
}

.feature {
    transition: .3s;
    margin-top: 8rem;
    width: 30%;
    padding: 0 3rem;
}

.feature.large {
    width: 70%;
}

.feature.header {
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 3rem;
    color: #3e3e3e;
    width: 30%;
    height: 16vw;
    padding: 0 0 0 3rem;
}

.feature.header::before {
    content: "";
    display: block;
    width: 0.7rem !important;
    height: 8rem;
    background: #FF8B20;
    border-radius: 25px;
    margin-right: 2rem;
}

.feature.transition.header::before {
    background: #41dd87;
}

.feature.header h2 {
    font-size: 3.5rem;
}

.feature.title {
    width: 90%;
    margin: 9rem auto 6rem auto;
}

.feature.title h2 {
    text-align: center;
}

.feature img {
    margin-bottom: 3rem;
    width: 100%;
    height: 16vw;
    object-fit: cover;
    object-position: left top;
    border-radius: 5rem;
    transition: .3s;
}

.feature .p1 img {
    box-shadow: 1.7rem 2rem 0px 0px #FF8B20;
}

.feature .p2 img {
    box-shadow: 1.7rem 2rem 0px 0px #57C700;
}

.feature:hover img {
    transition: .3s;
    transform: scale(1.01);
    box-shadow: none;
}

.feature h2 {
    font-size: 4.5rem;

}

.feature h3 {
    font-size: 2.5rem;
}

/* ご利用の流れ
------------------------------------------------- */

.flow {
    margin: 0 auto;
    margin-top: 23rem;
    width: 70%;
    display: flex;
}

.flow-text {
    width: 45%;
    height: 100%;
    margin-right: 1rem;
    position: sticky;
    top: 30%;
}

.flow-text h2 {
    margin-bottom: 2rem;
}

.flow-text p {
    line-height: 2.1;
    font-size: 2rem;
}

.flow-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7rem;
}

.flow-button {
    width: 25%;
    margin: 0 80px;
    border-radius: 25px;
    text-align: center;
    background: #FD8D8D;
}

.flow-button h3 {
    padding: 30px 30px;
    color: white;
}

.flow-step {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 55%;
    position: sticky;
    top: 0;
}

.flow-step p {
    font-size: 1.8rem;
    line-height: 2;
}

.flow-step h3 {
    margin-bottom: 1rem;
}

.flow-step figure {
    display: flex;
    align-items: center;
    width: 100%;
    background: whitesmoke;
    border-radius: 3rem;
    /* padding: 3rem; */
    margin-bottom: 5rem;
    transition: .3s;
}

.flow-step img {
    width: 20rem;
    margin: 0 auto;
    margin-right: 2rem;
    justify-self: center;
}

.flow-step a {
    display: flex;
    align-items: center;
    padding: 3rem;
}

.flow-step figure:not(:has(> a)) {
    padding: 3rem;
}

.flow-step figure:first-of-type {
    background: #FF8B20;
}

.flow-step figure:first-of-type span {
    margin-left: 0%;
    transition: .3s ease;
}

.flow-step figure:first-of-type:hover span {
    margin-left: 2%;
    transition: .3s ease;
}

.flow-step figure:first-of-type h3,
.flow-step figure:first-of-type p {
    color: white;
}


/* company
------------------------------------------------- */

.company-first-view {
    padding: 0 7rem;
    padding-top: 15rem;
    padding-bottom: 20rem;
    background: #FF8B20;
}

.company-first-view figure {
    display: flex;
    justify-content: space-around;
    padding: 6rem 0;
}

.company-first-view figure div {
    margin: auto 3rem;
}

.company-first-view figure img {
    width: 100%;
    height: 30rem;
    border-radius: 3rem;
    object-fit: cover;
    object-position: top;
    /* border: #3e3e3e solid .3rem; */
}

.company-first-view .g1 {
    width: 25%;
}

.company-first-view .g2 {
    width: 50%;
}

.company-first-view .g3 {
    width: 25%;
}

.company-first-view .page-title {
    margin-top: 0;
}

.company-first-view .text {
    margin: 0 3rem;
}

.company-first-text {
    margin: 0 auto;
    margin-top: 6rem;
    width: 70%;
    padding: 3rem 5rem 10rem 5rem;
    border-radius: 5rem;
    background: white;
}

.company-first-text .header {
    margin-top: 8rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.company-first-text .header::before {
    content: "";
    display: block;
    width: 0.7rem !important;
    height: 8rem;
    background: #FF8B20;
    border-radius: 25px;
    margin-right: 2rem;
}

.company-first-text p {
    line-height: 3;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.company-first-text img {
    width: 100%;
    height: 25rem;
    margin: 3rem 0 1rem 0;
    object-fit: cover;
    object-position: center;
    border-radius: 3rem;
}

.company-first-text h2 {
    color: #FF8B20;
    margin: 4rem 0 3rem 0;
}

.company-info {
    padding: 0 20%;
}

.company-info h2 {
    text-align: center;
    margin: 15rem 0 10rem 0;
}

.company-info-list div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 6rem;
    border-bottom: #ccc solid 0.3rem;
    padding-bottom: 6rem;
}


.company-info-list dt {
    width: 25%;
    color: #ccc;
}

.company-info-list dd {
    width: 75%;
}

.company-info-list iframe {
    border-radius: 50px;
    width: 100%;
    height: 300px;
}

.data {
    margin-top: 15rem;
    padding: 0 20%;
}

.data h2 {
    text-align: center;
}

.data h3 {
    margin-top: 5rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.data h3::before {
    content: "";
    display: block;
    width: 0.7rem !important;
    height: 8rem;
    background: #FF8B20;
    border-radius: 25px;
    margin-right: 2rem;
}

.data-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: #FF8B20 solid 0.3rem;
    margin-top: 5rem;
    overflow: hidden;
    background: #FF8B20;
}

.data-button .button-date {
    width: 35%;
    background: #FF8B20;
}

.data-button .button-date p {
    text-align: center;
    color: white;
}

.data-button .button-data-name {
    width: 65%;
    padding: 0 4%;
    background: white;
    transition: .3s;
}

.data-button:hover .button-data-name {
    background: #FF8B20;
    transition: .3s;
    color: white;
}

.data-button p {
    padding: 2rem 0;
}


/* 事業案内
------------------------------------------------- */

.image img {
    border-radius: 25px;
    /* border: #3e3e3e solid 0.3rem; */
}

.service-first-view .page-header {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3;
}

.service-first-view .page-title {
    margin-top: 15vh;
}

.service-first-view .page-list h4 {
    margin: 0 auto;
}

.loop-slider {
    height: fit-content;
    margin: 5rem 0;
}

.loop-slider img {
    width: 33rem;
    height: 33rem;
    margin: 0 10rem;
    object-fit: cover;
    /* border: solid #3e3e3e .3rem; */
}

.loop-slider div:nth-child(even) {
    margin-top: 10rem;
}

.loop-slider-index img {
    width: 100%;
}

.service-works {
    background: transparent;
    margin-top: 50rem;
    padding: 0 15rem;
}

.service-works h2 {
    text-align: center;
    color: #FF8B20;
}

.service-works.transition h2 {
    color: #41dd87;
}

.service-intro-content img {
    width: 29rem;
    height: 29rem;
    object-fit: cover;
    /* border: #3e3e3e solid .3rem; */
}

.service-intro figure:last-child {
    align-self: end;
}

.service-intro {
    padding: 12rem 7rem 2rem 7rem;
    color: white;
    background: #FF8B20;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 3;
}

.service-intro.transition {
    background: #41dd87;
}

.service-intro div {
    width: 50%;
}

.service-intro h2 {
    white-space: nowrap;
}

.service-content-wrapper {
    margin-top: 40rem;
}

.service-content-wrapper h2,
.service-content-wrapper h4 {
    text-align: left;
    /* margin-bottom: 6rem; */
    padding-left: 4rem;
}

.service-content {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 5rem auto;
}

.service-content figure {
    margin-right: 5vw;
}

.service-content img {
    position: absolute;
    visibility: hidden;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 25px;
    /* border: #3e3e3e solid 0.3rem; */
}

.service-content .active {
    position: relative;
    visibility: visible;
}

.service-content-child {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.service-content-child div {
    cursor: pointer;
    border: solid 0.3rem #FF8B20;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    transition: .3s;
}

.service-content-child div:hover {
    background: #FF8B20;
    color: white;
    transition: .3s;
}

.service-content-child div.active {
    background: #FF8B20;
    color: white;
}

.service-content-child.transition div {
    border: solid 0.3rem #41dd87;
}

.service-content-child.transition div:hover,
.service-content-child.transition div.active {
    background: #41dd87;
}

.service-content-child h3 {
    text-align: center;
    padding: 1.5rem;
    transition: .3s;
}

.service-content-child h3:hover {
    color: white;
    transition: .3s;
}

.service-content .text {
    margin: 1.5rem 0 0 2rem;
    line-height: 2;
    width: 85%;
}

.service-day {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.service-day img {
    width: 30vw;
    height: 20vw;
    border-radius: 25px;
    /* border: #3e3e3e solid 0.3rem; */
    object-fit: cover;
    object-position: top;
}

.service-day-person div {
    margin: 3rem 1rem;
    cursor: pointer;
    background: white;
    border: solid 0.3rem #FF8B20;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    transition: .3s;
}

.service-day-person div.active,
.service-day-person div:hover {
    background: #FF8B20;
    transition: .3s;
    color: white;
}

.service-day-person.transition div {
    border: solid 0.3rem #41dd87;
}

.service-day-person.transition div.active,
.service-day-person.transition div:hover {
    background: #41dd87;
    transition: .3s;
    color: white;
}

.service-day-person h3 {
    padding: 1.5rem 5rem;
}

.service-day-person h3:hover {
    color: white;
    transition: .3s;
}

.service-day-content {
    margin: 0 auto;
    background: #FF8B20;
    /* border: #3e3e3e solid 0.3rem; */
    border-radius: 50px;
    color: white;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7rem;
    width: 80%;
    display: none;
}

.service-day-content.active {
    display: flex;
}

.service-day-content.transition {
    background: #41dd87;
}

.service-day-flow {
    width: 60%;
}

.service-day-flow div {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: 1s all ease;
}

.service-day-flow div.active {
    visibility: visible;
    opacity: 1;
    position: relative;
    transition: 1s all ease;
}

.service-day-flow img {
    width: 100%;
    height: 25rem;
    border: none;
}

.service-day-flow p {
    line-height: 2;
    margin-top: 2rem;
}

.service-day-week {
    margin-top: 5rem;
    width: 100%;
}

.service-day-week h3 {
    margin-bottom: 3rem;
}

.service-day-week dl {
    display: flex;
    text-align: center;
}

.service-day-week dl:last-of-type {
    border-bottom: #41dd87 solid .35rem;
}

.service-day-week dt,
.service-day-week dd {
    width: 18%;
    height: 7rem;
    padding: 4.5rem 1rem;
    border-top: #41dd87 solid .35rem;
    border-left: #41dd87 solid .35rem;
    color: #3e3e3e;
    background: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-day-week dl:first-of-type dt {
    border-radius: 3rem 0 0 0;
}

.service-day-week dl:first-of-type dd:last-of-type {
    border-radius: 0 3rem 0 0;
}

.service-day-week dl:last-of-type dt {
    border-radius: 0 0 0 3rem;
}

.service-day-week dl:last-of-type dd:last-of-type {
    border-radius: 0 0 3rem 0;
}


.service-day-week dt {
    width: 10%;
}

.service-day-week dd:last-of-type {
    border-right: white solid .35rem;
}

.service-day-week .back {
    width: 100%;
    border-right: white solid .3rem;
}

.service-day-schdule {
    width: 35%;
    margin-right: 3rem;
}

.service-day-schdule p {
    margin-top: 1rem;
    font-size: 2.4rem;
    cursor: pointer;
    transition: .3s ease;
}

.service-day-schdule p::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: transparent;
    border: solid .3rem white;
    margin-right: .5rem;
    transition: .3s;
}

.service-day-schdule li {
    border-radius: 2rem;
    padding: 0 1.3rem;
}

.service-day-schdule li:hover,
.service-day-schdule li.active {
    background: white;
    color: #3e3e3e;
    transition: .3s ease;
}

.service-day-schdule li:hover p::before,
.service-day-schdule li.active p::before {
    border: solid .3rem transparent;
    transition: .3s ease;
    width: 1.3rem;
    height: 1.3rem;
}

.service-theme {
    position: relative;
    z-index: 3;
    margin: 22rem 3rem;
    padding: 0 15rem;
    width: fit-content;
    display: flex;
}

.service-theme div {
    align-self: flex-start;
    position: absolute;
    z-index: 4;
    margin-top: -5rem;
}

.service-theme h2 {
    color: #FF8B20;
}

.service-theme.transition h2 {
    color: #41dd87;
}

.service-theme h2,
.service-theme p {
    background: white;
    width: fit-content;
    border-radius: 1rem;
    padding: .8rem 1.4rem;
    margin-bottom: 3rem;
}

.service-theme figure {
    width: 65vw;
    margin-left: 21rem;
}

.service-theme img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: top;
    /* border: #3e3e3e solid 0.3rem; */
}

.service-feature {
    position: relative;
    z-index: 0;
    background: #FF8B20;
    padding: 12rem 0 15rem 0;
    border-radius: 12rem;
    margin-top: -50rem;
}

.service-feature.transition {
    background: #41dd87;
}

.service-point-list {
    width: 70%;
    color: white;
    background: white;
    padding: 3rem 5rem;
    margin: 100px auto;
    margin-top: 15rem;
    border-radius: 50px;
    /* border: #3e3e3e solid 0.3rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-point-list div:first-of-type {
    width: 25%;
    margin-right: 1rem;
    text-align: center;
}

.service-point-list div:last-of-type {
    width: 75%;
    margin-left: 2rem;
}

.service-point-list h3 {
    color: #FF8B20;
}

.service-point-list.transition h3 {
    color: #41dd87;
}

.service-point-list .header h4 {
    border-bottom: solid .3rem #ccc;
    margin: 5rem 0;
}

.service-point-content {
    width: 70%;
    padding: 3rem 15.1rem;
    margin: 0 auto;
    background: white;
    border-radius: 50px;
    /* border: #3e3e3e solid 0.3rem; */
}

.service-point-content .header {
    margin-top: 7rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.service-point-content .header::before {
    content: "";
    display: block;
    width: 0.7rem !important;
    height: 8rem;
    background: #FF8B20;
    border-radius: 25px;
    margin-right: 2rem;
}

.service-point-content.transition .header::before {
    background: #41dd87;
}

.service-point-content .text {
    margin-top: 5rem;
    line-height: 2;
}

.service-point-content .text p {
    margin-bottom: 3rem;
}

.service-point-content img {
    width: 100%;
    margin: 3rem 0;
    border-radius: 3rem;
    height: 40rem;
    object-fit: cover;
    object-position: top;
}

.service.insert img {
    width: 40vw;
    height: 20vw;
    object-fit: cover;
    position: absolute;
    transform: translateY(5%);
    right: -2%;
}


/* contact
------------------------------------------------- */

.tel-and-line {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20rem;
}

.tel-contact {
    text-align: center;
    width: 45%;
    background: white;
    padding: 5rem;
    border: #3e3e3e solid 0.3rem;
    border-radius: 50px;
    line-height: 1.2;
}

.tel-contact .namber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-contact {
    width: 45%;
    display: flex;
    align-items: center;
}

.line-contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #57C700;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 5rem;
    line-height: 1.2;
}

.form-contact {
    width: 65%;
    margin: 0 auto;
    margin-top: 13rem;
    padding: 10rem 0;
    background: white;
    border: #3e3e3e solid 0.3rem;
    border-radius: 50px;
}

.form-header {
    padding: 0rem 10rem 5rem 10rem;
    text-align: center;
}

.form-header h2 {
    margin-bottom: 3rem;
}

.form-header p {
    line-height: 2;
}

.form-step {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FF8B20;
    /* border: #3e3e3e solid 0.3rem; */
    margin: 0 10rem;
    padding: 5rem 8rem;
    border-radius: 50px;
}

.form-step .step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}

.form-step .step h3 {
    color: #FF8B20;
}

.form-step .step p {
    position: absolute;
    color: white;
    transform: translate(0, -6rem);
    font-size: 2.2rem;
}

.step-connect {
    content: "";
    display: block;
    width: 10%;
    margin: 0 auto;
    height: 0.5rem;
    border-bottom: dotted 1.2rem white;
}

form {
    margin: 0 10rem;
    margin-top: 5rem;
}

form h4 {
    margin: 4rem 0 1rem 0;
}

input,
select,
textarea {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;
    cursor: pointer;
}

textarea {
    height: 30rem;
}

select,
option {
    color: #3e3e3e;
}

.form-input {
    background: whitesmoke;
    border-radius: 25px;
    width: 100%;
}

.form-input-flex {
    display: flex;
    justify-content: space-between;
}

.form-input-flex .form-input:not(:last-child) {
    margin-right: 1.5rem;
}

.policy {
    margin: 5rem auto;
}

.policy a {
    transition: .3s;
}

.policy a:hover {
    color: #FF8B20;
    transition: .3s;
}

.policy p,
label {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.policy-check {
    text-align: center;
    margin-top: 3rem;
}

.policy-check input {
    width: fit-content;
    vertical-align: middle;
}

.submit {
    text-align: center;
    margin-top: 5rem;
}

.submit input {
    color: white;
    padding: 2rem 8rem;
    transition: .3s;
}

.submit input:hover {
    color: #FF8B20;
    transition: .3s;
}

.submit.flex {
    display: flex;
    justify-content: space-around;
    padding: 0 10rem;
}

.submit.flex .back.link-button {
    background: #FD8D8D;
    transition: .3s;
    padding: 2rem 3rem;
}

.submit.flex .back.link-button:hover {
    background: white;
    color: #FD8D8D;
    transition: .3s;
}


/* .privacy-policy
------------------------------------------------- */

.privacy-policy {
    width: 50%;
    margin: 0 auto;
}

.privacy-policy .page-title {
    margin-top: 30vh;
}

.privacy-policy .text {
    margin-top: 8rem;
    background: white;
    border-radius: 50px;
    border: #3e3e3e solid 0.3rem;
    padding: 5rem;
}

.privacy-policy .text h3 {
    margin: 5rem 0 3rem 0;
}

.privacy-policy .text .space {
    margin-top: 2rem;
}



/* responsive
------------------------------------------------- */

@media screen and (max-width: 1024px) {

    html {
        font-size: 1.2vw;
    }

    p,
    dt,
    dd,
    input,
    select,
    textarea {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 3.5rem;
    }

    main {
        opacity: 1;
        transition: .3s;
        overflow-x: hidden !important;
    }

    main.menu-active {
        opacity: .3;
        transition: .3s;
    }


    /* header
------------------------------------------------- */

    .desk-nav {
        top: 0%;
        max-width: 50vw;
        height: fit-content;
        transform: translate(0, 0);
        left: 0%;
        justify-content: center;
        border-radius: 0 0 6rem 0;
        padding: 0;
        border: none;
    }

    .desk-nav.hidden {
        transform: translate(0%, -100%);
        transition: .5s ease;
    }

    .desk-nav .logo {
        min-width: auto;
        width: 100%;
    }

    .desk-nav .logo img {
        width: 100%;
        padding: 3.5rem 3rem;
    }

    .desk-nav .menu {
        display: none;
        transition: .3s;
    }

    .menu-mobile {
        display: block;
        position: fixed;
        margin: auto;
        text-align: left;
        inset: 0;
        z-index: 999;
        background: white;
        height: fit-content;
        width: 80%;
        padding: 4rem 4rem;
        border-radius: 2rem;
        border: #3e3e3e solid 0.3rem;
        opacity: 0;
        transition: .3s;
        pointer-events: none;
    }

    .menu-mobile.active {
        opacity: 1;
        transition: .3s;
        pointer-events: visible;
    }

    .menu-mobile a,
    .menu-mobile p {
        font-size: 3.5rem;
    }

    .menu-mobile li {
        margin-top: 4rem;
    }

    .menu-mobile li:not(.link-button)::before {
        content: "○";
        color: #FF8B20;
        font-size: 3.3rem;
        margin-right: 1rem;
    }

    .menu-mobile .link-button {
        width: 100%;
    }

    .hover-link {
        padding-bottom: 0;
        transform: translate(0, 0px);
    }

    .menu-btn {
        display: block;
        width: 13rem;
        height: 13rem;
        position: fixed;
        border-radius: 35% 65% 47% 53% / 55% 44% 56% 45%;
        right: 1%;
        top: .5%;
        z-index: 999;
        background: #FF8B20;
        display: flex;
        align-items: center;
    }

    .btn__menu {
        width: 6rem;
        height: .47rem;
    }


    /* contact
------------------------------------------------- */

    .contact .svg,
    .tel-contact .svg,
    .line-contact .svg {
        width: 7vw;
    }


    .privacy-policy,
    .tel-and-line,
    .form-contact {
        width: 90%;
    }

    .form-step {
        padding: 5rem 6rem;
    }

    .form-step,
    form {
        margin: 0 5rem;
    }

    .flow-step a {
        flex-direction: column;
    }

    .form-header {
        padding: 0rem 8rem 5rem 8rem;
    }

    .policy p,
    label {
        font-size: 2rem;
    }

    /* path
------------------------------------------------- */

    /* .first-view-path {
        width: 70%;
        height: auto;
        position: absolute;
        z-index: 0;
        right: 0;
        top: 7.8%;
        transform: translate(30%,0) rotate(90deg);
    } */

    .index-path-1 {
        width: 80%;
        transform: translate(10%, 60%) rotate(180deg);
    }

    .index-path-2 {
        width: 120%;
        transform: translate(-20%, 0%)rotate(-10deg);
    }

    .index-path-3 {
        width: 130%;
        transform: translate(42%, 20%);
    }

    .index-path-1.mobile-content {
        transform: translate(-45%, -30%) rotate(-40deg);
        z-index: -2;
    }

    .to-company-path {
        transform: translate(0%, -80%);
        z-index: -1;
        width: 100%;
    }

    .to-company-path.service {
        z-index: 1;
    }

    .to-company-path.first-view {
        margin-top: 0rem;
    }

    .to-company-path-2 {
        width: 80%;
    }

    .service-works-path-1 {
        width: 80%;
        transform: translate(-20%, -100%) rotate(45deg);
    }

    .service-works-path-2 {
        width: 80%;
        transform: translate(-80%, -100%) rotate(50deg);
    }

    .service-works-path-3 {
        display: none;
    }

    /* index
------------------------------------------------- */

    .respond-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .first-view:not(.to-company-path) {
        flex-direction: column;
        margin-top: 0rem;
        padding-top: 5rem;
        margin-bottom: 0rem;
        background: #fa9638;
    }

    .first-view .grid {
        display: none;
    }

    .first-view .slider {
        width: 85%;
        height: auto;
        margin: 5rem 0rem 3rem auto;
        line-height: 0;
    }

    .first-view .slider img {
        border-radius: 12rem 0 0 20rem;
        height: 85rem;
        width: 100%;
        object-fit: cover;
    }

    .first-view .slider div {
        margin-top: 0rem;
    }

    .first-view-text {
        margin: 0rem 0 6rem 5rem;
        align-self: baseline;
        position: relative;
        z-index: 3;
        transform: translate(0, 0%);
    }

    .first-view-text h2 {
        font-size: 7rem;
    }

    .first-view-text h2:last-of-type {
        margin-bottom: 10px;
    }

    .service-kind {
        width: 100%;
        margin: 0 auto 0 0;
        margin-top: 0rem;
        padding: 0.5rem 5rem 5rem 5rem;
        display: flex;
        flex-direction: column;
    }

    .service-kind-h2 {
        padding: 7rem 3rem 0rem 5rem;
        margin: 0;
        margin-top: 15rem;
        width: fit-content;
    }

    .service-kind .caption {
        margin-top: 10rem;
        margin-left: 0;
        padding: 2rem;
        text-align: center;
        line-height: 3;
    }

    .service-kind-content {
        margin: 0rem 0;
        padding: 0 .5rem;
        flex-direction: column;
        justify-content: center;
    }

    .service-kind-content p {
        font-size: 2.5rem;
        line-height: 2.5;
        margin-top: 5rem;
    }

    .service-kind-content h3 {
        margin-left: 49rem;
        padding: 3rem;
        top: auto;
        margin-top: -54rem;
        font-size: 4rem;
    }

    .service-kind-content h4 {
        font-size: 5rem;
        margin-top: -8rem;
    }

    .service-kind-content figure {
        width: 100%;
        margin-top: 10rem;
    }

    .service-kind-content figure:first-of-type {
        margin-right: 0rem;
    }

    .service-kind-content figure:last-of-type {
        margin-left: 0rem;
    }

    .to-day {
        margin: -6rem 0 0rem 0;
        padding: 14rem 2rem 10rem 2rem;
        background: #fff3e7;
    }

    .to-day .text {
        width: 100%;
        margin: 0rem 6rem;
    }

    .to-day .text .header {
        margin-bottom: 3rem;
        text-align: center;
    }

    .to-day .text .header p {
        margin: 3rem 0 6rem 0;
    }

    .to-day .text figure {
        margin-bottom: 8rem;
    }

    .to-day .text figure img {
        width: 35%;
        object-fit: cover;
        object-position: top;
    }

    .to-day .text figure figcaption {
        width: 100%;
        padding: 2rem;
    }

    .to-day .text figure figcaption p {
        font-size: 2.5rem;
    }

    .to-company {
        flex-direction: column;
        padding: 0 5rem 0 5rem;
        margin: 0rem auto 0rem auto;
        width: 100%;
    }

    .to-company-text {
        order: 1;
        width: 100%;
        padding: 0 2rem;
        transform: translate(0, -18%);
    }

    .to-company-text p:not(.link-button p) {
        font-size: 3rem;
        line-height: 3.3;
        margin-bottom: 0rem;
    }

    .to-company-slider {
        order: 0;
        width: 100%;
        margin-left: 0rem;
    }

    .to-company-slider div {
        margin: 5rem 0;
    }

    .to-company-slider div:first-of-type {
        transform: translate(20%, 60%);
    }

    .to-company-slider div:last-of-type {
        transform: translate(0%, -40%);
    }

    .to-company-slider img {
        width: 30rem;
        height: 30rem;
    }

    .to-company .link-button {
        width: 100%;
    }

    .to-company .link-button p {
        font-size: 4rem;
    }

    .link-button span {
        font-size: 2.5rem;
        padding-top: 1.2rem;
    }

    #features {
        padding-top: 5rem;
    }

    .feature-content {
        width: 90%;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 6rem 2rem 12rem 2rem;
    }

    .feature {
        text-align: center;
        width: 35vw;
        padding: 0;
        margin: 3rem auto;
    }

    .feature.large {
        width: 35vw;
    }


    .feature img,
    .feature.header {
        width: 35vw;
        height: 35vw;
    }

    .feature p {
        font-size: 2.5rem;
    }

    .feature-flex {
        margin: 0 auto;
    }

    .flow {
        flex-direction: column;
        padding: 0rem;
        margin-top: 10rem;
        width: 85%;
    }

    .flow-text h2 {
        margin: 6rem 0;
    }


    .flow-step {
        margin-left: 0rem;
        padding: 0rem;
    }

    .flow-step a {
        height: 100%;
        width: 100%;
    }

    .flow-step p {
        font-size: 2.5rem;
    }

    .flow-step figure {
        margin-top: 5rem;
        flex-direction: column;
    }

    .flow-step .text {
        align-self: baseline;
    }

    .flow-step img {
        width: 25rem;
        margin-right: 0rem;
    }

    .flow-text {
        width: 100%;
    }

    .flow-step {
        width: 100%;
    }

    .flow-text p {
        font-size: 3rem;
    }

    /* .company
------------------------------------------------- */

    .company-first-view {
        padding: 0 3rem;
        padding-bottom: 20rem;
    }

    .company-first-view figure div {
        margin: auto 0rem;
    }

    .company-first-view .g1,
    .company-first-view .g3 {
        display: none;
    }

    .company-first-view .g2 {
        width: 100%;
    }

    .company-first-view .page-header {
        padding: 0;
    }

    .company-first-text {
        width: 100%;
    }

    .company-first-text p {
        line-height: 3;
        font-size: 3rem;
    }

    .company-first-view .text {
        margin: 0;
    }

    #service #service-transition a .text {
        order: 2;
    }

    .company-info {
        padding: 0 5%;
    }

    .data {
        padding: 0 10%;
    }

    /* .support-
------------------------------------------------- */

    .service-first-view .page-title {
        margin-top: 17.5vh;
    }

    .loop-slider img {
        width: 100vw;
        height: 800px;
        margin: 0;
        border-radius: 0 !important;
        margin-right: 2rem;
    }

    .loop-slider {
        position: absolute;
        z-index: -3;
        inset: 0;
        margin: 0;
    }

    .loop-slider div:nth-child(even) {
        margin-top: 0rem;
    }

    .loop-slider img {
        width: 100%;
        height: auto;
        border: none;
    }

    .service-intro-content {
        margin-top: -3rem;
    }

    .service-intro div {
        position: relative;
        z-index: 2;
        width: 80%;
        margin: 0 auto;
    }

    .service-intro {
        padding: 5rem 0 10rem 0;
        flex-direction: column;
        justify-content: center;
    }

    .service-intro-content img {
        width: 90%;
        height: 70%;
        border-radius: 6rem 12rem !important;
    }

    .service-intro figure:first-of-type {
        width: 100%;
        margin: 0 auto;
    }

    .service-intro figure:last-of-type {
        display: none;
    }

    .service.insert img {
        width: 80vw;
        height: 50vw;
        transform: translateY(-120%);
        right: -6%;
    }

    .service-content {
        flex-direction: column;
        margin: 5rem auto 60rem auto;
        padding: 0 .5rem;
    }

    .service-content .text {
        order: 2;
        margin: 5rem 0;
        width: 100%;
        line-height: 2.5;
        padding: 0 5rem;
    }

    .service-content img {
        width: 88vw;
        height: 60vw;
    }

    .service-content figure {
        margin-right: 0;
        margin-bottom: 4rem;
        align-self: center;
        order: 0;
    }

    .service-content-child {
        margin-top: 2rem;
        padding: 0 1rem;
        justify-content: center;
    }

    .service-content-child div {
        margin: 1rem;
    }

    .service-content-wrapper {
        margin-top: 70rem;
    }

    .service-content-wrapper h2,
    .service-content-wrapper h4 {
        text-align: center;
        padding-left: 0rem;
        margin-bottom: 0rem;
    }

    .service-content-wrapper h4 {
        padding: 0 9.5rem;
        margin-top: 1.5rem;
    }

    .service-day {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 0;
    }

    .service-day-person {
        display: flex;
        justify-content: center;
        margin: 4rem 0 6rem 0;
    }

    .service-works {
        margin-top: 45rem;
        padding: 0rem;
    }

    .service-theme {
        padding: 0 0rem;
        flex-direction: column;
        margin: 10rem 0rem 18rem 5rem;
        line-height: 2.3;
    }

    .service-theme h2 {
        padding: 3rem 5rem 1rem 1rem;
        border-radius: 0 4rem 0 0;
        line-height: 1;
        margin-bottom: 0rem;
    }

    .service-theme h2:first-of-type {
        padding-top: 5rem;
    }

    .service-theme p {
        margin-bottom: 0rem;
        padding: 0 1.4rem;
        width: 90%;
    }

    .service-theme p:first-of-type {
        margin-top: 1.5rem;
    }

    .service-theme figure {
        margin-left: 5rem;
        width: 85%;
    }

    .service-theme div {
        position: relative;
        order: 1;
        margin-top: -8rem;

    }

    .service-theme img {
        height: 100%;
    }

    .service-feature {
        padding: 10rem 0 15rem 0;
        margin-top: -10rem;
        border-radius: 8rem;
    }

    .service-day-content {
        flex-direction: column;
        width: 100%;
        padding: 6rem;
    }

    .service-day-flow,
    .service-day-schdule {
        width: 100%;
    }

    .service-day-schdule p {
        font-size: 4rem;
        margin-top: 1.5rem;
    }

    .service-day-flow img {
        height: 100%;
        margin: 5rem 0 3rem 0;
    }

    .service-day-content,
    .service-point-list,
    .service-point-content {
        width: 90%;
    }

    .service-point-list {
        margin: 6rem auto;
        flex-direction: column;
        padding: 9rem 6rem;
    }

    .service-point-list h3 {
        white-space: nowrap;
    }

    .service-point-list div:first-of-type,
    .service-point-list div:last-of-type {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .service-point-content {
        padding: 3rem 7rem;
    }

    .service-point-content .header::before {
        height: 12rem;
        width: 0.8rem;
    }

    .service-point-content .header h4 {
        font-size: 4rem;
    }

    .service-point-content .text p {
        margin-bottom: 6rem;
        line-height: 2.3;
    }

    /* contact
------------------------------------------------- */

    .tel-and-line {
        flex-direction: column;
    }

    .tel-contact,
    .line-contact {
        width: 100%;
        height: 25rem;
    }

    .line-contact,
    .form-contact {
        margin-top: 5rem;
    }

    .tel-contact .namber div:last-child,
    .line-contact div:last-child {
        margin-left: 1rem;
    }

    /* footer
------------------------------------------------- */

    .footer-content {
        flex-direction: column;
        padding: 0rem;
        padding-top: 15rem;
    }

    .footer-content p,
    .footer-content li {
        font-size: 2.5rem;
    }

    .footer-content .service-link,
    .footer-content .contact {
        width: 100%;
    }

    .footer.service-box {
        justify-content: space-between;
        margin-top: 5rem;
    }

    .footer-content .service-box div {
        margin-right: 0;
    }

    .footer-content .service-box img {
        width: 40vw;
        height: 40vw;
    }

    .footer-content .contact {
        margin-top: 4rem;
    }

    .footer.logo.sb {
        margin-top: 4rem;
    }

    .footer.logo img {
        width: 43vw;
    }

    .footer.logo.sb img {
        width: 30vw;
    }

    .contact .conversion {
        flex-direction: column;
    }

    .contact .conversion h4 {
        font-size: 4rem;
    }

    .contact .conversion .tel,
    .contact .conversion .mail {
        width: 100%;
        margin: auto 0;
    }

    .contact .conversion .mail {
        margin: 4rem auto 2rem auto;
    }

}