<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ジョブリッジについて">
    <!-- ogp -->
    <meta property="og:url" content="https://www.jobridge.info/company">
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="会社概要 │ ジョブリッジ多機能事業所">
    <meta property="og:description" content="ジョブリッジについて">
    <meta property="og:site_name" content="会社概要 │ ジョブリッジ多機能事業所">
    <meta property="og:image" content="https://www.jobridge.info/img/og.png">
    <title>会社概要 │ ジョブリッジ多機能事業所</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icon/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/icon/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icon/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/icon/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/icon/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="./css/btn.css">
    <link rel="stylesheet" href="./css/inview.css">
    <link rel="stylesheet" href="./css/Pver=0528_style.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W94M30VRMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W94M30VRMG');
</script>
<body>


    <header>
    <nav class="desk-nav">
        <h1 class="logo"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ"></a>
        </h1>
        <ul class="menu">
            <li>
                <a href="./index.html">ホーム</a>
            </li>
            <li class="hover-link">
                <p>事業所紹介</p>
                <div class="hover-link-content">
                    <a href="./support-a.html">就労継続支援A型</a>
                    <a href="./support-transition.html">就労移行支援</a>
                </div>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <div class="menu-btn">
            <button class="btn__menu" type="button">
            </button>
        </div>
        <ul class="menu-mobile">
            <li>
                <a href="./index.html" aria-label="ホームへ">ホーム</a>
            </li>
            <li>
                <a href="./support-a.html">就労継続支援A型について</a>
            </li>
            <li>
                <a href="./support-transition.html">就労移行支援について</a>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
</header>

    <main class="inview fadeIn_on">

        <section class="company-first-view">

            <figure class="inview fadeIn_up">
                <div class="g1"><img class="radius-1" src="./img/photo/DSCF5397.webp"></div>
                <div class="g2"><img class="radius-6" src="./img/photo/DSCF5592.webp"></div>
                <div class="g3"><img class="radius-4" src="./img/photo/DSCF5595.webp"></div>
            </figure>

            <div class="text">
                <div class="page-header inview fadeIn_up">
                    <div class="page-title">
                        <h2>ジョブリッジについて</h2>
                    </div>
                    <div class="page-list">
                        <a href="./index.html">
                            <h4><span>ホーム</span>
                        </a>/会社概要</h4>
                    </div>
                </div>
                <div class="company-first-text inview fadeIn_on">
                    <img src="./img/photo/DSCF5310.webp" loading="lazy" alt="">
                    <h2>どんな方にも『活躍できる場所』や『前向きに取り組めるもの』がある</h2>
                    <div class="header">
                        <h4>障がい者支援の『きっかけ』</h4>
                    </div>
                    <p>弊社での障がい支援のきっかけは、大阪府委託の職業訓練でした。職業訓練では支援できる期間が限られており、その中で障がいのある方のスキルアップや就職の支援を手厚く行うにはどうしても限界がありました。より長期間かつより幅広い障がい者支援を行いたいという想いから、ジョブリッジでの「就労継続支援A型」「就労移行支援」の開所に至りました。
                    </p>
                    <div class="header">
                        <h4>障がいではなく『個性』</h4>
                    </div>
                    <p>これまで多くの障がいのある方の支援を行ってきた中で感じたことは、「障がいではなく個性である」ということです。個性であるからこそ否定せずに、どのように活かしていくか・向き合っていくかということを一緒に考えていくことが大切と考えています。
                    </p>
                    <img src="./img/photo/DSCF5854.webp" loading="lazy" alt="">
                    <p>また、どんな方にも『活躍できる場所』や『前向きに取り組めるもの』があります。それに気付くきっかけは人それぞれで、得意なことや趣味から派生して活躍できたり、他者と協力して作業をした際に頼りにされたことがきっかけで前向きになれたり等、様々な場面がありました。
                    </p>
                    <p>こういった可能性をどんな方にも見つけていただけるよう、当事業所では原則、通所・利用のために難しい条件は設けておりません。「就労に対する意欲がある」「働くことに対して前向きである」という方なら是非お気軽にご連絡ください。ジョブリッジへの通所以外でも弊社でお力になれることがございましたら、お気軽にご連絡いただけると幸いです。
                    </p>
                </div>
            </div>

        </section>


        <svg xmlns="http://www.w3.org/2000/svg" class="service-path center-under" viewBox="0 0 1636 181" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.370117 0V103.21L39.8801 122.6C78.0301 142 155.69 180.79 233.34 180.79C310.99 180.79 390.02 142 467.68 109.68C545.33 77.35 623 51.5 700.66 64.42C778.32 77.34 857.34 129.06 935 122.6C1012.66 116.14 1090.32 51.49 1167.98 38.56C1245.64 25.64 1323.29 64.42 1402.31 90.28C1479.98 116.14 1557.63 129.06 1595.78 135.53L1635.29 142V0H0.370117Z"
                fill="#FF8B20" />
        </svg>


        <div class="company">

            <section class="company-info inview fadeIn_on">

                <h2>会社について</h2>

                <dl class="company-info-list">
                    <div>
                        <dt>会社名</dt>
                        <dd>株式会社ジョブリッジ</dd>
                    </div>
                    <div>
                        <dt>所在地</dt>
                        <dd>〒530-0001大阪市北区梅田1-1-3大阪駅前第3ビル10F</dd>
                    </div>
                    <div id="access">
                        <dt>アクセス</dt>
                        <dd><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.253593227526!2d135.49684107687355!3d34.698783183313786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6ec5525c671%3A0x259506aae33e595b!2z44CSNTMwLTAwMDEg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65qKF55Sw77yR5LiB55uu77yR4oiS77yTIOWkp-mYqumnheWJjeesrDPjg5Pjg6s!5e0!3m2!1sja!2sjp!4v1697418050007!5m2!1sja!2sjp"
                                width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></dd>
                    </div>
                    <div>
                        <dt>電話・FAX</dt>
                        <dd>電話番号 0120-987-967</dd>
                        <dd>FAX 06-7635-9200</dd>
                    </div>
                    <div>
                        <dt>設立</dt>
                        <dd>2014年11月7日</dd>
                    </div>
                    <div>
                        <dt>代表者名</dt>
                        <dd>代表取締役 鈴木淑喜</dd>
                    </div>
                    <div>
                        <dt>事業内容</dt>
                        <dd>就労継続支援A型</dd>
                        <dd>就労移行支援</dd>
                    </div>
                    <div>
                        <dt>営業時間</dt>
                        <dd>9:00~18:00</dd>
                    </div>

            </section>


            <section id="data">
                <div class="data">
                    <h2>公表情報</h2>
                    <div>
                        <a href="./pdf/2023-jobridge-financial-statement.pdf" class="data-button" target="_blank">
                            <div class="button-date">
                                <p>2024.04.30</p>
                            </div>
                            <div class="button-data-name">
                                <p>ジョブリッジ決算報告書</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="./pdf/jobirdge-activities.pdf" class="data-button" target="_blank">
                            <div class="button-date">
                                <p>2024.04.30</p>
                            </div>
                            <div class="button-data-name">
                                <p>就労支援事業別事業活動明細書</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="./pdf/jobridge-score-chart.pdf" class="data-button" target="_blank">
                            <div class="button-date">
                                <p>2024.04.30</p>
                            </div>
                            <div class="button-data-name">
                                <p>就労継続支援A型事業所におけるスコア表</p>
                            </div>
                        </a>
                    </div>
                    <h3>平均月額賃金：61,126円</h3>
                </div>
            </section>


        </div>


    </main>

    <footer id="footer">


    <div class="footer-content">
        <div class="service-link">
            <h1 class="logo footer"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ" loading="lazy">
                </a></h1>
            <div class="service-box footer">
                <div id="service-a">
                    <a href="./support-a.html">
                        <figure class="p1"><img src="./img/photo/DSCF5595.webp" alt="support-a" loading="lazy"></figure>
                        <h3>就労継続支援A型</h3>
                    </a>
                </div>
                <div id="service-transition">
                    <a href="./support-transition.html">
                        <figure class="p2"><img src="./img/photo/DSCF5592.webp" alt="support-transition" loading="lazy">
                        </figure>
                        <h3>就労移行支援</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact">
            <h2>お問い合わせ・ご予約</h2>
            <div class="conversion">
                <div class="tel">
                    <figure><img class="svg" src="./img/icon/tel.svg" alt="tel" loading="lazy"></figure>
                    <div class="tel-number">
                        <h4>0120-987-967</h4>
                        <p class="business-hour">※平日9:00~18:00</p>
                    </div>
                </div>
                <div class="mail">
                    <a href="./contact.html">
                        <figure><img class="svg" src="./img/icon/mail.svg" alt="mail" loading="lazy"></figure>
                        <div>
                            <h4>入力フォームから予約</h4>
                        </div>
                    </a>
                </div>

            </div>

            <figure>
                <a href="https://lin.ee/NIABhKx" target="_blank">
                    <div
                        style="width:100%; display:flex;align-items:center; justify-content:center; background:#06c755; border-radius:4rem; color:white; padding:2rem 0; margin-bottom: 1rem; line-height:1;">
                        <div><img class="svg" src="./img/logo/line.svg" alt="line" loading="lazy"></div>
                        <div>
                            <h4>LINEでも</h4>
                            <h4>見学・体験予約受付してます。</h4>
                        </div>
                    </div>
                </a>
            </figure>

            <div class="footer-links-content">
                <!-- <div>
                    <p><span>ご利用について</span></p>
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                    </ul>
                </div> -->

                <div>
                    <!-- <p><span>会社概要</span></p> -->
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                        <li><a href="./company.html">
                                <p>会社について</p>
                            </a></li>
                        <li><a href="./company.html#data">
                                <p>公表資料</p>
                            </a></li>
                        <li> <a href="./company.html#access">
                                <p>アクセス</p>
                            </a></li>
                    </ul>
                </div>
            </div>

            <!-- <figure class="logo footer sb">
                <a href="https://social-bridge.co.jp/" target="_blank">
                    <div><img src="https://www.jobridge.info/img/logo/sb-logo.svg" alt="SocialBridge"></div>
                    <div class="co-title">
                        <p>株式会社Social Bridge<br>
                            人と企業をつなぐ社会の架け橋として</p>
                    </div>
                </a>
            </figure> -->

        </div>
    </div>


</footer>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="./js/js.js"></script>
</body>

</html>