<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="わたしたちは障がいによって働くことに悩んでいる方々をサポートしています。障がいをお持ちの方が「働ける場所（就労継続支援A型）」と「学ぶ場所（就労移行支援）」を提供し、自立した社会生活や長期就労に向けて支援に取り組んでいます。大阪梅田駅より徒歩3分で通いやすい事業所です。">
    <link rel="canonical" href="./index.html">
    <!-- ogp -->
    <meta property="og:url" content="https://www.jobridge.info/">
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ジョブリッジ多機能事業所│就労継続支援A型と就労移行支援で障がいをお持ちの方の働くをサポート│大阪梅田駅より徒歩3分">
    <meta property="og:description"
        content="わたしたちは障がいによって働くことに悩んでいる方々をサポートしています。障がいをお持ちの方が「働ける場所」と「学ぶ場所」を提供し、自立した社会生活や長期就労に向けて支援に取り組んでいます。">
    <meta property="og:site_name" content="ジョブリッジ多機能事業所">
    <meta property="og:image" content="https://www.jobridge.info/img/og.png">
    <title>ジョブリッジ多機能事業所│就労継続支援A型と就労移行支援で障がいをお持ちの方の働くをサポート│大阪梅田駅より徒歩3分</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icon/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/icon/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icon/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/icon/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/icon/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="./css/btn.css">
    <link rel="stylesheet" href="./css/slick.css">
    <link rel="stylesheet" href="./css/slick-theme.css">
    <link rel="stylesheet" href="./css/Pver=0126_inview.css">
    <link rel="stylesheet" href="./css/Pver=0126_style.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W94M30VRMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W94M30VRMG');
</script>
<body>


    <header>
    <nav class="desk-nav">
        <h1 class="logo"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ"></a>
        </h1>
        <ul class="menu">
            <li>
                <a href="./index.html">ホーム</a>
            </li>
            <li class="hover-link">
                <p>事業所紹介</p>
                <div class="hover-link-content">
                    <a href="./support-a.html">就労継続支援A型</a>
                    <a href="./support-transition.html">就労移行支援</a>
                </div>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <div class="menu-btn">
            <button class="btn__menu" type="button">
            </button>
        </div>
        <ul class="menu-mobile">
            <li>
                <a href="./index.html" aria-label="ホームへ">ホーム</a>
            </li>
            <li>
                <a href="./support-a.html">就労継続支援A型について</a>
            </li>
            <li>
                <a href="./support-transition.html">就労移行支援について</a>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
    <main class="inview fadeIn_on">

        <section>
            <div class="first-view">
                <figure class="grid">
                    <div><img class="radius-1" src="./img/photo/DSCF5341.webp" alt="top-image" loading="lazy">
                    </div>
                    <div><img src="./img/photo/DSCF5592.webp" alt="top-image" loading="lazy"></div>
                    <div><img src="./img/photo/DSCF5465.webp" alt="top-image" loading="lazy"></div>
                    <div><img class="radius-4" src="./img/object/top-p2.webp" alt="top-image" loading="lazy">
                    </div>
                    <div><img src="./img/photo/DSCF5221.webp" alt="top-image" loading="lazy"></div>
                    <div><img class="radius-6" src="./img/object/top-p1.webp" alt="top-image" loading="lazy">
                    </div>
                    <div><img src="./img/object/top-p3.webp" alt="top-image" loading="lazy"></div>
                    <div><img class="radius-8" src="./img/photo/DSCF5385.webp" alt="top-image" loading="lazy">
                    </div>
                </figure>

                <figure class="slider mobile-content">
                    <div><img src="./img/photo/DSCF5592.webp" alt="top-image" loading="lazy"></div>
                    <div><img src="./img/photo/DSCF5465.webp" alt="top-image" loading="lazy"></div>
                    <div><img src="./img/photo/DSCF5221.webp" alt="top-image" loading="lazy"></div>
                </figure>

                <div class="first-view-text">
                    <div class="inview fadeIn_on delay">
                        <h2>いつも</h2>
                        <h2>自分らしく。</h2>
                        <h4>わたしたちは障がいによって働くことに </h4>
                        <h4>悩んでいる方々をサポートしています。</h4>
                    </div>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="to-company-path first-view" viewBox="0 0 298 250"
                fill="none">
                <path
                    d="M289.973 5.88462C283.053 11.6546 268.953 23.1946 254.863 24.6446C240.523 26.0846 226.433 17.4346 212.333 17.4346C198.233 17.4346 184.143 26.0946 170.053 30.4246C155.963 34.7546 141.613 34.7546 127.523 27.5346C113.433 20.3246 99.3331 5.89462 85.2431 5.89462C71.1531 5.89462 57.0531 20.3246 42.7131 26.0946C28.6231 31.8646 14.5231 28.9846 7.60308 27.5346L0.433075 26.0946L0.432617 240.013C1.53262 239.933 2.63262 239.853 3.73262 239.803C32.1226 238.433 60.0326 246.673 87.9326 246.673C115.833 246.673 143.743 238.423 171.643 234.303C199.543 230.183 227.943 230.183 255.843 237.053C269.603 240.443 283.373 245.503 297.133 249.763L297.133 0.114624L289.963 5.88462H289.973Z"
                    fill="#fa9638" stroke="#fa9638" stroke-width="1" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="index-path-1 mobile-content" viewBox="0 0 481 426" fill="none">
                <path
                    d="M18.2651 321.821C34.5326 348.338 62.6496 365.941 105.078 365.442C129.069 365.118 154.737 365.559 174.654 379.029C185.752 386.558 194.063 397.585 204.367 406.254C245.801 441.16 321.461 425.799 346.254 376.82C370.671 328.457 342.956 249.929 404.797 220.695C415.278 215.723 427.218 214.374 437.826 209.674C453.785 202.492 465.624 187.852 472.494 171.768C489.983 130.807 476.339 80.4758 445.247 48.3784C414.155 16.2811 368.47 1.20407 323.846 0.296204C279.221 -0.61166 235.194 11.6518 193.605 27.745C132.781 51.3267 73.4434 85.2423 35.2478 138.123C-1.12956 188.506 -12.7774 271.292 18.2651 321.821Z"
                    fill="#C6F1FF" />
            </svg>

        </section>


        <div class="service-kind-h2">
            <h2 class="inview fadeIn_up">事業所紹介</h2>
        </div>

        <section class="service-kind">

            <div class="caption">
                <h4 class="inview fadeIn_up">
                    ジョブリッジはあなたの個性と<br class="mobile-content">あなたらしさを活かせるところ。<br>
                    同じ働きたい、学びたい気持ちを持った<br class="mobile-content">"なかま"がいます。
                </h4>
            </div>

            <div class="service-kind-content inview fadeIn_on delay">
                <figure class="a">
                    <a href="./support-a.html">
                        <img src="./img/photo/DSCF5854.webp" loading="lazy" alt="就労継続支援A型">
                        <h3>働くところ</h3>
                        <h4>就労継続支援A型</h4>
                        <p>病気や障がいなどにより一般就労が難しい方を対象に、雇用契約を結んで就労機会の提供や訓練を実施するサービスです。</p>
                    </a>
                </figure>
                <figure class="transition">
                    <a href="./support-transition.html">
                        <img src="./img/photo/DSCF5592.webp" loading="lazy" alt="就労移行支援">
                        <h3>学ぶところ</h3>
                        <h4>就労移行支援</h4>
                        <p>就職を目指す障がいのある方を対象に就職に必要な知識やスキル向上のためのサポートをおこなっています。</p>
                    </a>
                </figure>
            </div>

        </section>

        <section>

            <svg xmlns="http://www.w3.org/2000/svg" class="index-path-1" viewBox="0 0 481 426" fill="none">
                <path
                    d="M18.2651 321.821C34.5326 348.338 62.6496 365.941 105.078 365.442C129.069 365.118 154.737 365.559 174.654 379.029C185.752 386.558 194.063 397.585 204.367 406.254C245.801 441.16 321.461 425.799 346.254 376.82C370.671 328.457 342.956 249.929 404.797 220.695C415.278 215.723 427.218 214.374 437.826 209.674C453.785 202.492 465.624 187.852 472.494 171.768C489.983 130.807 476.339 80.4758 445.247 48.3784C414.155 16.2811 368.47 1.20407 323.846 0.296204C279.221 -0.61166 235.194 11.6518 193.605 27.745C132.781 51.3267 73.4434 85.2423 35.2478 138.123C-1.12956 188.506 -12.7774 271.292 18.2651 321.821Z"
                    fill="#C6F1FF" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="index-path-2" viewBox="0 0 1027 851" fill="none">
                <path
                    d="M325.239 849.126C385.529 844.867 445.482 826.144 490.056 793.425C545.131 753.251 558.047 675.079 629.037 650.693C665.255 638.258 709.117 644.399 741.992 664.278C774.868 684.156 798.275 716.783 835.209 730.193C885.993 748.803 944.881 722.207 973.475 682.616C1033.81 599.241 1038.26 443.678 1007.64 348.598C988.631 290.156 948.428 238.186 893.45 200.281C828.142 155.952 692.876 134.266 614.455 145.597C576.45 151.089 541.947 170.973 504.08 174.08C429.552 180.121 400.212 113.882 363.251 71.1198C300.48 -1.17348 183.504 -18.4107 97.0465 22.1745C7.4313 64.2056 -47.5717 196.727 58.2094 258.738C79.6898 271.357 104.941 278.154 125.266 291.984C162.313 317.252 176.176 361.758 171.75 401.815C159.492 510.458 35.7466 568.306 23.3719 670.754C11.1621 772.024 161.012 837.287 258.991 848.089C281.329 850.358 303.348 850.695 325.239 849.126Z"
                    fill="#DCFFE4" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="index-path-3" viewBox="0 0 761 665" fill="none">
                <path
                    d="M755.522 364.149C774.764 285.76 739.397 202.403 674.467 152.18C636.589 122.874 590.667 104.501 543.267 97.8799C503.291 92.2949 467.289 103.543 429.424 114.92C384.132 128.52 332.549 134.014 296.364 96.9259C275.806 75.8569 264.564 49.9789 240.271 31.8139C216.254 13.8509 187.044 2.69486 157.06 0.98286C92.2351 -2.72414 10.4861 43.8199 1.42412 113.24C-2.45788 142.973 10.9591 179.825 30.0991 202.64C55.2821 232.649 87.0701 258.061 123.538 272.788C161.938 288.297 197.682 285.508 237.909 282.823C281.095 279.938 326.525 301.478 316.553 352.123C311.24 379.103 286.326 391.791 265.36 405.493C239.018 422.707 219.36 446.524 211.947 477.825C182.747 601.065 350.325 697.042 454.517 654.559C477.332 645.259 495.404 627.409 509.017 607.121C536.051 566.838 537.209 507.521 584.417 483.645C610.282 470.567 641.269 473.953 669.171 466.145C699.891 457.545 723.438 435.65 738.482 408C746.023 394.182 751.746 379.447 755.51 364.162"
                    fill="#FFD0D0" />
            </svg>

        </section>


        <section id="to-company">

            <div class="to-company">

                <div class="to-company-text">

                    <h2 class="inview fadeIn_on">一人ひとりと</h2>
                    <h2 class="inview fadeIn_on">向き合う。</h2>
                    <p class="inview fadeIn_on">ジョブリッジは「障がいは個性である」と<br class="mobile-content">考えています。
                    </p>
                    <p class="inview fadeIn_on margin">個性を発揮できるところがあればどんな方でも</p>
                    <p class="inview fadeIn_on">活躍できるはず。</p>
                    <p class="inview fadeIn_on">そんなところになれるよう、利用者の皆さんと</p>
                    <p class="inview fadeIn_on margin">手を取り合って、いつも自分らしく、<br class="mobile-content">前向きでいられる環境づくりに</p>
                    <p class="inview fadeIn_on margin">日々取り組んでいます。</p>
                    <div class="link-button"><a href="./company.html">
                            <p>ジョブリッジについて<span>▲</span></p>
                        </a></div>

                </div>

                <figure class="to-company-slider">
                    <div><img class="radius-1 inview fadeIn_on" src="./img/photo/DSCF5165.webp" loading="lazy"
                            alt="top-image"></div>
                    <div><img class="inview fadeIn_on" src="./img/photo/DSCF5854.webp" loading="lazy" alt="top-image">
                    </div>
                    <div><img class="radius-6 inview fadeIn_on" src="./img/photo/DSCF5573.webp" loading="lazy"
                            alt="top-image"></div>
                </figure>

            </div>

        </section>


        <section>


            <div class="to-day">

                <figure class="fade-slider respond-content">
                    <div><img src="./img/photo/DSCF5284.webp" alt="fade-img" loading="lazy"></div>
                    <div><img src="./img/photo/DSCF5425.webp" alt="fade-img" loading="lazy"></div>
                    <div><img src="./img/photo/DSCF5588.webp" alt="fade-img" loading="lazy"></div>
                </figure>

                <div class="text">
                    <div class="header">
                        <h2 class=" inview fadeIn_up">
                            ジョブリッジの
                        </h2>
                        <h2 class="inview fadeIn_up">
                            <span>一日</span>をのぞいてみよう！
                        </h2>
                        <p class="inview fadeIn_up">ジョブリッジを利用されている方の一日を<br class="mobile-content">ご紹介しています</p>
                    </div>
                    <figure class="a inview fadeIn_on delay"><a href="./support-a.html#day"><img
                                src="./img/photo/DSCF5310.webp" alt="to-a" loading="lazy">
                            <figcaption>
                                <h4>就労継続支援A型の一日</h4>
                                <p>「月に1回程度、ハローワーク等に広報物を発送する機会があり、今日はみんなでその準備からスタートです。・・・」</p>
                            </figcaption>
                        </a>
                    </figure>
                    <figure class="inview transition fadeIn_on delay"><a href="./support-transition.html#day"><img
                                src="./img/photo/DSCF5565.webp" alt="to-transition" loading="lazy">
                            <figcaption>
                                <h4>就労移行支援の一日</h4>
                                <p>「毎日パソコンの練習をしています。この日は練習問題をいくつか解き、支援員さんに採点・解説してもらいました。・・・」</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>

            </div>


        </section>


        <figure class="loop-slider-index">

            <div><img src="./img/photo/DSCF5908.webp" alt="first-view" loading="lazy"></div>
            <div><img src="./img/photo/DSCF5438.webp" alt="first-view" loading="lazy"></div>
            <div><img src="./img/photo/DSCF5422.webp" alt="first-view" loading="lazy"></div>
            <div><img src="./img/photo/DSCF5310.webp" alt="first-view" loading="lazy"></div>
            <div><img src="./img/photo/DSCF5565.webp" alt="first-view" loading="lazy"></div>

        </figure>


        <section id="features">

            <div class="feature-content">
                <div class="feature title">
                    <h2>
                        <span>ジョブリッジ</span>の支援は「<span>・・・</span>」
                    </h2>
                </div>
                <div class="feature-flex">
                    <div class="feature header">
                        <h2>
                            就労継続支援<br>A型
                        </h2>
                    </div>

                    <div class="feature inview fadeIn_on large">
                        <a href="./support-a.html#point1">
                            <figure class="p1"><img class="radius-1" src="./img/photo/DSCF5681.webp"
                                    alt="support-transition" loading="lazy"></figure>
                            <p>「経験・スキル不問で様々な実務を経験できる」</p>
                        </a>
                    </div>

                    <div class="feature inview fadeIn_on large">
                        <a href="./support-a.html#point2">
                            <figure class="p1"><img src="./img/photo/DSCF5672.webp" alt="support-transition"
                                    loading="lazy">
                            </figure>
                            <p>「体調や業務習得度合いに合った働き方が可能（通院の都合等も配慮）」</p>
                        </a>
                    </div>

                    <div class="feature inview fadeIn_on">
                        <a href="./support-a.html#point3">
                            <figure class="p1"><img src="./img/photo/DSCF5854.webp" alt="support-transition"
                                    loading="lazy">
                            </figure>
                            <p>「利用者同士のやり取りが主で無理のない働き方が可能」</p>
                        </a>
                    </div>
                </div>

                <div class="feature-flex">
                    <div class="feature header transition">
                        <h2>
                            就労移行支援
                        </h2>
                    </div>

                    <div class="feature inview fadeIn_on large">
                        <a href="./support-transition.html#point1">
                            <figure class="p2"><img src="./img/photo/DSCF5565.webp" alt="support-transition"
                                    loading="lazy">
                            </figure>
                            <p>「一人ひとりにあったカリキュラム」</p>
                        </a>
                    </div>

                    <div class="feature inview fadeIn_on large">
                        <a href="./support-transition.html#point2">
                            <figure class="p2"><img class="radius-8" src="./img/photo/DSCF5359.webp"
                                    alt="support-transition" loading="lazy"></figure>
                            <p>「交通費全額補助」</p>
                        </a>
                    </div>

                    <div class="feature inview fadeIn_on">
                        <a href="./support-transition.html#point3">
                            <figure class="p2"><img src="./img/photo/DSCF5872.webp" alt="support-transition"
                                    loading="lazy">
                            </figure>
                            <p>「関連会社での企業内実習を体験してから、実際の企業実習へ」</p>
                        </a>
                    </div>

                    <div class="feature inview fadeIn_on">
                        <a href="./support-transition.html#point4">
                            <figure class="p2"><img class="radius-6" src="./img/photo/DSCF5221.webp"
                                    alt="support-transition" loading="lazy"></figure>
                            <p>「一般就労だけでなくA型へのステップアップも可能」</p>
                        </a>
                    </div>

                    <div class="feature  inview fadeIn_on large">
                        <a href="./support-transition.html#point5">
                            <figure class="p2"><img src="./img/photo/DSCF5284.webp"
                                    alt="support-transition" loading="lazy"></figure>
                            <p>「無期限の就労定着支援」</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section>

            <div class="flow" id="flow">

                <div class="flow-text">
                    <h2>ご利用の流れ</h2>
                    <p>ジョブリッジのご利用は5つのステップ。</p>
                    <p>ジョブリッジを不安なくご利用いただけるよう、</p>
                    <p>まずは見学・体験へお越しいただき、</p>
                    <p>お悩みやご希望をお聞かせください。</p>
                </div>

                <div class="flow-step">

                    <figure>
                        <a href="./contact.html">
                            <div>
                                <img src="./img/illust/mail.webp" alt="01.お問い合わせ" loading="lazy">
                            </div>
                            <div class="text">
                                <h3>01.お問い合わせ<span>→</span></h3>
                                <p>まずは、お電話やメールにてお気軽にお問い合わせください。ご希望により見学または体験のご予約をお取りします。</p>
                            </div>
                        </a>
                    </figure>

                    <figure>
                        <div>
                            <img src="./img/illust/exp.webp" alt="02.見学・体験" loading="lazy">
                        </div>
                        <div class="text">
                            <h3>02.見学・体験</h3>
                            <p>ご来所いただき、見学していただきます。実際の訓練を体験していただくこともできます。体験は半日や1週間などご要望に合わせて可能ですので、ご自身のペースに合わせてご相談ください。
                            </p>
                        </div>
                    </figure>

                    <figure>
                        <div>
                            <img src="./img/illust/meating.webp" alt="03.選考（面接等、A型事業所のみ）" loading="lazy">
                        </div>
                        <div class="text">
                            <h3>03.選考（面接等、A型事業所のみ）</h3>
                            <p>A型事業所を利用希望の場合は採用選考をさせていただきます。選考内容は書類選考及び面接を予定しております。場合によってはパソコン等のスキルチェックをさせていただくこともあります。
                            </p>
                        </div>
                    </figure>

                    <figure>
                        <div>
                            <img src="./img/illust/write.webp" alt="04.市区町村にて手続き" loading="lazy">
                        </div>
                        <div class="text">
                            <h3>04.市区町村にて手続き</h3>
                            <p>利用を決められたら、お住まいを管轄する市役所や区役所の障がい福祉課などの窓口にて、受給者証の申請が必要です。初めての方でも、スタッフが手続きをサポートいたしますので、必要であればお気軽にご相談ください。通常受給者証の発行には１ヶ月ほどかかりますが、その間も体験利用ができます。
                            </p>
                        </div>
                    </figure>

                    <figure>
                        <div>
                            <img src="./img/illust/act.webp" alt="05.利用開始" loading="lazy">
                        </div>
                        <div class="text">
                            <h3>05.利用開始</h3>
                            <p>手続きが完了すれば、いよいよご利用開始です。</p>
                        </div>
                    </figure>

                </div>
            </div>
        </section>


    </main>

    <footer id="footer">


    <div class="footer-content">
        <div class="service-link">
            <h1 class="logo footer"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ" loading="lazy">
                </a></h1>
            <div class="service-box footer">
                <div id="service-a">
                    <a href="./support-a.html">
                        <figure class="p1"><img src="./img/photo/DSCF5595.webp" alt="support-a" loading="lazy"></figure>
                        <h3>就労継続支援A型</h3>
                    </a>
                </div>
                <div id="service-transition">
                    <a href="./support-transition.html">
                        <figure class="p2"><img src="./img/photo/DSCF5592.webp" alt="support-transition" loading="lazy">
                        </figure>
                        <h3>就労移行支援</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact">
            <h2>お問い合わせ・ご予約</h2>
            <div class="conversion">
                <div class="tel">
                    <figure><img class="svg" src="./img/icon/tel.svg" alt="tel" loading="lazy"></figure>
                    <div class="tel-number">
                        <h4>0120-987-967</h4>
                        <p class="business-hour">※平日9:00~18:00</p>
                    </div>
                </div>
                <div class="mail">
                    <a href="./contact.html">
                        <figure><img class="svg" src="./img/icon/mail.svg" alt="mail" loading="lazy"></figure>
                        <div>
                            <h4>入力フォームから予約</h4>
                        </div>
                    </a>
                </div>

            </div>

            <figure>
                <a href="https://lin.ee/NIABhKx" target="_blank">
                    <div
                        style="width:100%; display:flex;align-items:center; justify-content:center; background:#06c755; border-radius:4rem; color:white; padding:2rem 0; margin-bottom: 1rem; line-height:1;">
                        <div><img class="svg" src="./img/logo/line.svg" alt="line" loading="lazy"></div>
                        <div>
                            <h4>LINEでも</h4>
                            <h4>見学・体験予約受付してます。</h4>
                        </div>
                    </div>
                </a>
            </figure>

            <div class="footer-links-content">
                <!-- <div>
                    <p><span>ご利用について</span></p>
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                    </ul>
                </div> -->

                <div>
                    <!-- <p><span>会社概要</span></p> -->
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                        <li><a href="./company.html">
                                <p>会社について</p>
                            </a></li>
                        <li><a href="./company.html#data">
                                <p>公表資料</p>
                            </a></li>
                        <li> <a href="./company.html#access">
                                <p>アクセス</p>
                            </a></li>
                    </ul>
                </div>
            </div>

            <!-- <figure class="logo footer sb">
                <a href="https://social-bridge.co.jp/" target="_blank">
                    <div><img src="https://www.jobridge.info/img/logo/sb-logo.svg" alt="SocialBridge"></div>
                    <div class="co-title">
                        <p>株式会社Social Bridge<br>
                            人と企業をつなぐ社会の架け橋として</p>
                    </div>
                </a>
            </figure> -->

        </div>
    </div>


</footer>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script type="text/javascript" src="./js/Pver=0126_slider.js"></script>
    <script type="text/javascript" src="./js/js.js"></script>

</body>

</html>