<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="個人情報保護方針について">
    <meta name="robots" content="noindex">
    <!-- ogp -->
    <meta property="og:url" content="https://www.jobridge.info/privacy-policy">
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="個人情報保護方針について │ ジョブリッジ多機能事業所">
    <meta property="og:description" content="個人情報保護方針について">
    <meta property="og:site_name" content="個人情報保護方針について">
    <meta property="og:image" content="https://www.jobridge.info/img/og.png">
    <title>個人情報保護方針について</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/icon/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/icon/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/icon/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/icon/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/icon/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="./css/btn.css">
    <link rel="stylesheet" href="./css/inview.css">
    <link rel="stylesheet" href="./css/Pver=1026_style.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W94M30VRMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W94M30VRMG');
</script>
<body>

    <header>
    <nav class="desk-nav">
        <h1 class="logo"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ"></a>
        </h1>
        <ul class="menu">
            <li>
                <a href="./index.html">ホーム</a>
            </li>
            <li class="hover-link">
                <p>事業所紹介</p>
                <div class="hover-link-content">
                    <a href="./support-a.html">就労継続支援A型</a>
                    <a href="./support-transition.html">就労移行支援</a>
                </div>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <div class="menu-btn">
            <button class="btn__menu" type="button">
            </button>
        </div>
        <ul class="menu-mobile">
            <li>
                <a href="./index.html" aria-label="ホームへ">ホーム</a>
            </li>
            <li>
                <a href="./support-a.html">就労継続支援A型について</a>
            </li>
            <li>
                <a href="./support-transition.html">就労移行支援について</a>
            </li>
            <li>
                <a href="./index.html#flow">ご利用の流れ</a>
            </li>
            <li>
                <a href="./company.html">会社について</a>
            </li>
            <li>
                <a href="./company.html#access">アクセス</a>
            </li>
            <li class="link-button">
                <a href="./contact.html">
                    <p>お問い合わせ</p>
                </a>
            </li>
        </ul>
    </nav>
</header>

    <main class="inview fadeIn_on">


        <section class="privacy-policy">
            <div class="title-container">
                <div class="page-title">
                    <h2>個人情報保護方針について</h2>
                </div>
                <div class="page-list">
                    <a href="./index.html">
                        <h4><span>ホーム/</span></h4>
                    </a>
                    <a href="./contact.html">
                        <h4><span>お問い合わせ/</span></h4>
                    </a>
                    <h4>利用規約</h4>
                </div>
            </div>
        </section>

        <section class="privacy-policy">
            <div class="text">
                <div>
                    <p class="space">ジョブリッジ多機能事業所（以下「当事業所」）は、お客様からお預かりした個人情報を保護するため、個人情報に関する法令及びその他の規範を遵守いたします。</p>
                </div>
                <div>
                    <h3>個人情報の取得・利用</h3>
                </div>
                <div>
                    <p>お客さまからお預かりした個人情報は、当事業所からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。お預かりした個人情報は、以下の範囲を超えて利用いたしません。
                    </p>
                    <p class="space">●入所に必要な事務手続きおよび見学・体験予約管理</p>
                    <p>●ご利用者様動向などの分析</p>
                    <p>●サービス向上を目的とした事例検討</p>
                    <p class="space">
                        個人情報を上記のように使用する際は、内容が損なわれない程度に改変し、個人が特定されない形で取り扱います。また、上記の事項の中でご不明な点、同意しかねる点があればお申し出ください。お申し出がないものについては、同意していただけたものとして取り扱わせていただきます。
                    </p>
                </div>
                <div>
                    <h3>個人情報の開示</h3>
                </div>
                <div>
                    <p>以下のいずれかの条件を満たす場合、お預かりした個人情報を開示することがあります。
                    </p>
                    <p class="space">●ご利用者様ご本人の同意が得られた場合</p>
                    <p>●裁判所及び令状に基づく権限の行使による開示請求などがあった場合</p>
                    <p>●個人が特定できない状態に情報が加工された場合</p>
                </div>
                <div>
                    <h3>個人情報のデータ送信</h3>
                </div>
                <div>
                    <p>個人情報を送信していただく場合、適切な方法を用いて情報漏洩が起こらないよう努めます。
                    </p>
                </div>
                <div>
                    <h3>個人情報の閲覧・訂正・削除</h3>
                </div>
                <div>
                    <p>お預かりした個人情報について、お申し出があればご本人のものを閲覧していただくことができ、誤りがあれば訂正および削除をすることができます。
                    </p>
                </div>
                <div>
                    <h3>個人情報の保護・管理</h3>
                </div>
                <div>
                    <p>お預かりした個人情報は、情報漏洩が起こることがないように厳格に管理された上で取り扱われます。本サイトを利用される場合、以上のプライバシーポリシーに全て同意していただけたものとみなします。
                    </p>
                </div>
                <div>
                    <h3>法令、規範の遵守と見直し</h3>
                </div>
                <div>
                    <p>当事業所は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
                    </p>
                </div>
            </div>

        </section>

        <footer id="footer">


    <div class="footer-content">
        <div class="service-link">
            <h1 class="logo footer"><a href="./index.html"><img src="./img/logo/job-logo.svg" alt="ジョブリッジ" loading="lazy">
                </a></h1>
            <div class="service-box footer">
                <div id="service-a">
                    <a href="./support-a.html">
                        <figure class="p1"><img src="./img/photo/DSCF5595.webp" alt="support-a" loading="lazy"></figure>
                        <h3>就労継続支援A型</h3>
                    </a>
                </div>
                <div id="service-transition">
                    <a href="./support-transition.html">
                        <figure class="p2"><img src="./img/photo/DSCF5592.webp" alt="support-transition" loading="lazy">
                        </figure>
                        <h3>就労移行支援</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact">
            <h2>お問い合わせ・ご予約</h2>
            <div class="conversion">
                <div class="tel">
                    <figure><img class="svg" src="./img/icon/tel.svg" alt="tel" loading="lazy"></figure>
                    <div class="tel-number">
                        <h4>0120-987-967</h4>
                        <p class="business-hour">※平日9:00~18:00</p>
                    </div>
                </div>
                <div class="mail">
                    <a href="./contact.html">
                        <figure><img class="svg" src="./img/icon/mail.svg" alt="mail" loading="lazy"></figure>
                        <div>
                            <h4>入力フォームから予約</h4>
                        </div>
                    </a>
                </div>

            </div>

            <figure>
                <a href="https://lin.ee/NIABhKx" target="_blank">
                    <div
                        style="width:100%; display:flex;align-items:center; justify-content:center; background:#06c755; border-radius:4rem; color:white; padding:2rem 0; margin-bottom: 1rem; line-height:1;">
                        <div><img class="svg" src="./img/logo/line.svg" alt="line" loading="lazy"></div>
                        <div>
                            <h4>LINEでも</h4>
                            <h4>見学・体験予約受付してます。</h4>
                        </div>
                    </div>
                </a>
            </figure>

            <div class="footer-links-content">
                <!-- <div>
                    <p><span>ご利用について</span></p>
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                    </ul>
                </div> -->

                <div>
                    <!-- <p><span>会社概要</span></p> -->
                    <ul class="footer-links">
                        <li><a href="./index.html#flow">
                                <p>ご利用の流れ</p>
                            </a>
                        </li>
                        <li><a href="./company.html">
                                <p>会社について</p>
                            </a></li>
                        <li><a href="./company.html#data">
                                <p>公表資料</p>
                            </a></li>
                        <li> <a href="./company.html#access">
                                <p>アクセス</p>
                            </a></li>
                    </ul>
                </div>
            </div>

            <!-- <figure class="logo footer sb">
                <a href="https://social-bridge.co.jp/" target="_blank">
                    <div><img src="https://www.jobridge.info/img/logo/sb-logo.svg" alt="SocialBridge"></div>
                    <div class="co-title">
                        <p>株式会社Social Bridge<br>
                            人と企業をつなぐ社会の架け橋として</p>
                    </div>
                </a>
            </figure> -->

        </div>
    </div>


</footer>

    </main>

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="./js/js.js"></script>

</body>

</html>